In [1]:
import sqlite3 # SQLite3 라이브러리

print(sqlite3.version) # SQLite3 모듈의 버전
print(sqlite3.sqlite_version) # SQLite의 버전

2.6.0
3.39.3

데이터베이스 생성

In [2]:
import sqlite3

def create():
    conn = sqlite3.connect('books.db') # 데이터베이스 커넥션 생성
    cursor = conn.cursor() # 커서 생성
    cursor.execute('''create table if not exists books (
                        title text,
                        publish_date text,
                        publisher text,
                        pages integer,
                        recommend integer)''')
    # my_books 테이블 생성
    # 제목, 출판일자, 출판사, 쪽수, 추천여부
    conn.close() # 커넥션 닫기


create()

데이터 입력

In [3]:
import sqlite3

def insert():
    conn = sqlite3.connect('books.db') # 데이터베이스 커넥션
    cursor = conn.cursor() # 커서 생성

    # 데이터 입력
    cursor.execute("insert into books values ('Java', '2022-02-28', '길벗', 500, 10)")
    
    # 튜플을 이용한 데이터 입력
    sql = "insert into books values (?, ?, ?, ?, ?)"
    cursor.execute(sql, ('Python', '2022-03-04', '한빛', 584, 20)) 
    
    # 책의 정보를 담고 있는 튜플들의 리스트 입력
    items = [
        ('빅데이터', '2021-07-02', '삼성', 296, 11),
        ('안드로이드', '2021-02-10', '영진', 526, 20),
        ('Spring', '2021-12-12', '에어콘', 248, 15)
    ] 
    cursor.executemany(sql, items) # 여러 데이터 입력

    conn.commit() # 레코드의 변경사항(추가, 수정, 삭제) 확정
    conn.close() # DB 접속 종료


insert()

목록 출력과 수정

In [4]:
import sqlite3

def list():
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    cursor.execute('select * from books')
    books = cursor.fetchall() # fetchall 전체 내용을 읽어와 books 변수에 저장.
    for book in books:
        print(book)
    conn.close()


list()

('Java', '2022-02-28', '길벗', 500, 10)
('Python', '2022-03-04', '한빛', 584, 20)
('빅데이터', '2021-07-02', '삼성', 296, 11)
('안드로이드', '2021-02-10', '영진', 526, 20)
('Spring', '2021-12-12', '에어콘', 248, 15)

In [5]:
def update():
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()

    # 데이터 수정 SQL
    sql = 'update books set recommend=? where title=?'

    # 수정 SQL 실행
    cursor.execute(sql, (100, 'Java'))
    conn.commit()
    conn.close()

update()
list()

('Java', '2022-02-28', '길벗', 500, 100)
('Python', '2022-03-04', '한빛', 584, 20)
('빅데이터', '2021-07-02', '삼성', 296, 11)
('안드로이드', '2021-02-10', '영진', 526, 20)
('Spring', '2021-12-12', '에어콘', 248, 15)

삭제

In [6]:
def delete(d):
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()

    # 데이터 삭제 SQL
    sql = f"delete from books where publisher='{d}' "

    # 수정 SQL 실행
    cursor.execute(sql)
    conn.commit()
    conn.close()

list()
delete('삼성')
print('='*50)
list()

('Java', '2022-02-28', '길벗', 500, 100)
('Python', '2022-03-04', '한빛', 584, 20)
('빅데이터', '2021-07-02', '삼성', 296, 11)
('안드로이드', '2021-02-10', '영진', 526, 20)
('Spring', '2021-12-12', '에어콘', 248, 15)
==================================================
('Java', '2022-02-28', '길벗', 500, 100)
('Python', '2022-03-04', '한빛', 584, 20)
('안드로이드', '2021-02-10', '영진', 526, 20)
('Spring', '2021-12-12', '에어콘', 248, 15)